body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form {
    
}

.form-contain > p {
    text-align: center;
    font-size: 1.5rem;
}

label, select {
    margin-left: .5em;
}

#pages {
    width:3rem;
    
}

.status::after {
    content: "\a";
    white-space: pre;
}

button {
    display: block;
    margin: auto;
    margin-top: 1em;
}

.cards {
    border: 1px solid red;
}